header {
  height: 120vh;
  padding-top: 4rem;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header_socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
}

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 25rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.scroll_down {
  position: absolute;
  right: -0.1rem;
  bottom: 5rem;
  font-weight: 300;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 90vh;
  }

  .me {
    width: 90vw;
    height: 20vh;
    /* margin-top: 10vh; */
    padding: 5vh 1.5rem 1.5rem 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 90vh;
  }

  .header_socials {
    bottom: 0vh;
  }

  .me {
    height: 40vh;
    margin-top: 10vh;
    padding: 5vh 1.5rem 1.5rem 1.5rem;
  }
}

.header_socials a {
  font-size: 2rem;
  height: 2rem;
  line-height: 2rem;
  width: 50px
}